<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Navbar</title>
</head>
<body>
    <nav
        class="absolute top-0 left-0 w-full h-20 bg-black backdrop-blur-md shadow-lg flex justify-between p-5 items-center z-50">
        <div class="mr-5">
           <h1 class="text-xl md:text-3xl text-white font-semibold">H.O.T.E.L</h1>
        </div>

        <div class="hidden lg:flex gap-20 justify-between items-center">
            <ul class="flex gap-8">
                <li class="text-md font-semibold text-white cursor-pointer"><a class="active" href="/">Home</a></li>
                <li class="text-md font-semibold text-white cursor-pointer"><a href="/about">About</a></li>
                <li class="text-md font-semibold text-white cursor-pointer"><a href="/services">Services</a></li>
                <li class="text-md font-semibold text-white cursor-pointer"><a href="/contact">Contact</a></li>
            </ul>
            
        </div>
        <div class="hidden lg:flex flex gap-5">
            <button
                class="bg-red-500 text-white hover:bg-red-600 px-5 py-2 font-semibold rounded-lg cursor-pointer"><a href="/login">Login</a></button>
            <button
                class="border border-white text-white px-5 py-2 font-semibold rounded-lg cursor-pointer hover:opacity-80"><a href="/register">Register</a></button>
        </div>
    </nav>
    <!-- <ul class="nav-links">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login">Login</a></li>
    </ul> -->

    <script>
        // Toggle mobile menu
        const hamburger = document.querySelector('.hamburger');
        const navLinks = document.querySelector('.nav-links');

        hamburger.addEventListener('click', () => {
            hamburger.classList.toggle('active');
            navLinks.classList.toggle('active');
        });
    </script>
</body>
</html>